
<div class="section">
  <%=raw (CourseMaker.find(course_maker_id).section1)%>

</div>
<br>
<div class="section">

  <%=raw (CourseMaker.find(course_maker_id).section2)%>

</div>
<br>
<div class="section">
  <%=raw (CourseMaker.find(course_maker_id).section3)%>

</div>
<br>
<div class="section">
  
  <%=raw (CourseMaker.find(course_maker_id).section4)%>

</div>
