*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  border: 1px solid black;
  border:none;
}

div#main{
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;

  aside {
    height:1000%;
    width:20vw;
    background: #42444E;

    h2{
      text-transform: uppercase;
      color:white;
      text-align: center;
      margin:31px 0 31px 0;

    }
    ul {
      list-style: none;

      li{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        a{
          text-decoration: none;
        }
        a:link{
          color:white;
        }
        a:hover{
          color:#2db34a;
          transition: color 0.5s linear;
        }
        span{
          color:#9092a1;
        }
      }
    }
  }

  main {
    width:80vw;
    height: 100vh;
    color: black;
      div.section{
        width:80vw;
        padding-left:5vw;
        padding-right: 5vw;
        padding-top: 5vh;
      }


  }
}


// harsh's code down below

div.cart_list{
  background-color: rgb(230,230,231);
  width:100%;
  height:40px;
}

div#seller{
  *{
  }
  aside {
    ul{
      img{
        width:5vw;
        height:5vw;
        border-radius: 50%;
      }
      li{
        margin-top: 10px;
        margin-bottom: 10px;
        i{
          color: white;
        }
        text-align: center;
      }
      li#black{
        background: black;
      }
      list-style: none;

    }
    // padding-left: 20px;
    a{
      color:white;
      text-decoration: none;
    }
    float: left;
    width:12vw;
    height: 100vh;
    background: #373330;
  }
  main{
    padding-top: 10vh;
    div#bookform{
      background: #f8f8f8;
      // margin-left: 10vw;
      form{
        font-size: 2em;
        margin-left: 10vw;
        input{

          // border: 1px solid black;
          border-radius:10%;

        }
      }
    }
    hr{
      color:black;
      width:50px;
    }
    color:#373330;

    float:right;
    width:88vw;
      h1,h3{
        width: 88vw;
        text-align: center;
      }
  }









}
