// Place all the styles related to the seller_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
}

aside {
  ul{
    img{
      width:5vw;
      height:5vw;
      border-radius: 50%;
    }
    li{
      margin-top: 10px;
      margin-bottom: 10px;
      i{
        color: white;
      }
      text-align: center;
    }
    list-style: none;
    li#sellerProfile{
      background: black;
    }
  }
  // padding-left: 20px;
  a{
    color:white;
    text-decoration: none;
  }
  float: left;
  width:12vw;
  height: 100vh;
  background: #373330;
}
